* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body{
    background-color: white;
  }

  /*

! VIEW PC 

*/


/* Header */
.headerIndex{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
}
  .menu{
    display: flex;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    height: 150px; 
}
    
 .menu .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }

    .logo img{
        width: 200px;
        height: 100px;
    }

  .logo .tituloLogo{
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
    }
   
    
    .menu ul {
      display: flex;
      margin-left: auto;
      list-style: none;
      text-decoration: none;
      align-items: center; 
    }
    .menu li a {
      display: inline-block;
      padding: 15px 30px;
      font-size: 1rem;
      color: white;
      text-decoration: none;
      font-weight: 600; 
     

    }

    .menu li a i{
      padding: 5px;
      font-size: 17px;
    }

    .menu ul .reservar{
       color:#df1a1a ;

    }
    .menu a:hover {
      background-color: #df1a1a;
      border: 1px solid white;
      padding: 22px 29px;
      color: white;
      text-decoration: none; 
    }

    /* Formulario */

    .main-reservar {
        max-width: 800px;
        width: 90%;
        margin: auto;
        padding: 40px; }
      
      .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; }
      
      .formulario__label {
        display: block;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
        color: #0c0b0b; }
      
      .formulario__grupo-input {
        position: relative; }
      
      .formulario__input {
        width: 100%;
        background: #fff;
        border: 2px solid black;
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        padding: 0 40px 0 10px;
        transition: .3s ease all; }
      
      .formulario__input:focus {
        border: 3px solid #1569d8;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4); }
      
      .formulario__input-error {
        font-size: 12px;
        margin-bottom: 0;
        display: none; }
      
      .formulario__input-error-activo {
        display: block; }
      
      .formulario__validacion-estado {
        position: absolute;
        right: 10px;
        bottom: 15px;
        z-index: 100;
        font-size: 16px;
        opacity: 0; }
      
      .formulario__checkbox {
        margin-right: 10px; }
      
      .formulario__grupo-terminos,
      .formulario__mensaje,
      .formulario__grupo-btn-enviar {
        grid-column: span 2; }
      
      .formulario__mensaje {
        height: 45px;
        line-height: 45px;
        background: #F66060;
        padding: 0 15px;
        border-radius: 3px;
        display: none; }
      
      .formulario__mensaje-activo {
        display: block; }
      
      .formulario__mensaje p {
        margin: 0; }
      
      .formulario__grupo-btn-enviar {
        display: flex;
        flex-direction: column;
        align-items: center; }
      
      .formulario__btn {
        height: 45px;
        line-height: 45px;
        width: 30%;
        background: #000;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: .1s ease all; }
      
      .formulario__btn:hover {
        box-shadow: 3px 0px 30px #a3a3a3; }
      
      .formulario__mensaje-exito {
        font-size: 14px;
        color: #119200;
        display: none; }
      
      .formulario__mensaje-exito-activo {
        display: block; }
      
      /* ----- -----  Estilos para Validacion ----- ----- */
      .formulario__grupo-correcto .formulario__validacion-estado {
        color: #1ed12d;
        opacity: 1; }
      
      .formulario__grupo-incorrecto .formulario__label {
        color: #bb2929; }
      
      .formulario__grupo-incorrecto .formulario__validacion-estado {
        color: #bb2929;
        opacity: 1; }
      
      .formulario__grupo-incorrecto .formulario__input {
        border: 3px solid #c02424; }
      
      @media screen and (max-width: 800px) {
        .formulario {
          grid-template-columns: 1fr; }
        .formulario__grupo-terminos,
        .formulario__mensaje,
        .formulario__grupo-btn-enviar {
          grid-column: 1; }
        .formulario__btn {
          width: 100%; } }
      



    /*  Footer  */

    .pie-pagina{
        width: 100%;
        background-color: black;
        margin-top: 70px;
       }

       .grupo1{
        width: 100%;
        max-width: 1600px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 190px;
        padding: 45px 0px;
       }

       .box figure{
        width: 100%;
        height: 100%;
       }

       .box figure img{
        width: 250px;
       }

       .box h2{
        color: white;
        margin-bottom: 25px;
        font-size: 20px;
       }

       .box p{
        color: white;
        margin-bottom: 10px;
       }

       .redes a{
        display: inline-block;
        text-decoration: none;
        width: 55px;
        height: 55px;
        line-height: 45px;
        color: white;
        margin-right: 10px;
        text-align: center;
        transition: all 300ms ease;
       }
       .redes a:hover{
        color: red;
        
       }

       .grupo2{
        padding: 15px 10px;
        text-align: center;
        color: white;
       }
       .grupo2 small{
        font-size: 15px;
       }

/*   ! VIEW MOBILE */


@media (max-width:950px) {
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
       }
      
       .menu ul {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background: rgba(0, 0, 0, 0.801);
          display: flex;
          justify-content: space-around;
          padding: 10px 0;
          margin: 0;
          z-index: 1;
          height: 90px;
          transition: opacity 0.5s ease-in-out;
      }
  
      .menu li {
          margin: 0;
          flex: 1;
          text-align: center;
      }
  
      .menu li a {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 0;
          font-size: 0.9rem;
      }

      .logo{
           display: flex;
           flex-direction: column;
           align-items: center;
      }

      .logo img{
        
        width: 150px;
        height: 80px;
      }
      .logo .tituloLogo{
        
        font-size: 20px;
      }
 

      /* Footer */

      .pie-pagina{
        width: 100%;
        background-color: black;
        padding-left: 40px;

      }

      .grupo1{
        width: 100%;
        padding: 45px 0px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
      }

      .box figure{
        width: 100%;
        height: 100%;
      }

      .box figure img{
        width: 170px;
      }

      .box h2{
        color: white;
        margin-bottom: 25px;
        font-size: 20px;
        
      }

      .box p{
        margin-bottom: 10px;
        color: white;
      }
    
}