* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body{
  background-color: white;
}

/* ! VIEW PC */


/* Header */
.headerIndex{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
}
  .menu{
    display: flex;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    height: 150px; 
}
    
 .menu .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }

    .logo img{
        width: 200px;
        height: 100px;
    }

  .logo .tituloLogo{
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
    }
   
    
    .menu ul {
      display: flex;
      margin-left: auto;
      list-style: none;
      text-decoration: none;
      align-items: center; 
    }
    .menu li a {
      display: inline-block;
      padding: 15px 30px;
      font-size: 1rem;
      color: white;
      text-decoration: none;
      font-weight: 600; 
     

    }

    .menu li a i{
      padding: 5px;
      font-size: 17px;
    }

    .menu ul .reservar{
       color:#df1a1a ;

    }
    .menu a:hover {
      background-color: #df1a1a;
      border: 1px solid white;
      padding: 22px 29px;
      color: white;
      text-decoration: none; 
    }


    /* Seccion info texto */

    .titleInfo{
      text-align: center;
      position: relative;
      width: 80%;
      margin: 50px auto;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .titleInfo::before{
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: black;
      top: 50%;
      z-index: -1;
     
    }
    .titleInfo span{
      
      padding: 0 15px;
    }

    .info-section {
      padding: 70px 23px;
      background-color: #f9f9f9;
      text-align: center;
      font-family: 'Arial', sans-serif;
    }
    
    .info-header h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #333;
      font-weight: 600;
    }
    
    .info-header p {
      font-size: 1.2rem;
      color: #666;
      max-width: 800px;
      margin: 0 auto 40px;
    }
    
    /* Estilos para la Sección de Habitaciones */
    .rooms-section {
      padding: 50px 20px;
     text-align: center;
      font-family: 'Arial', sans-serif;
    }
    
    .rooms-section h2 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 20px;
    }
    
    .rooms-section p {
      font-size: 1.2rem;
      color: #666;
      max-width: 800px;
      margin: 0 auto 40px;
    }
    
   
    .room-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
    }
    
    .room-card {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
    }
    
    .room-card:hover {
      transform: scale(1.03);
    }
    
    .room-card h3 {
      font-size: 1.5rem;
      color: #444;
      margin-bottom: 10px;
    }
    
    .room-card p {
      font-size: 1rem;
      color: #555;
      margin-bottom: 10px;
    }
    
/* Boton de Whatsapp */
    .whatsapp-button {
      display: inline-block;
      margin-top: 50px;
      padding: 12px 25px;
      background-color: #25d366;
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    
    .whatsapp-button i {
      margin-right: 10px;
      font-size: 1.3rem;
      vertical-align: middle;
    }
    
    .whatsapp-button:hover {
      background-color: #1ebe57;
    }
    
    /* Estilos para la Sección de Servicios */
    .services-section {
      margin-top: 50px;
    }
    
    .services-section h2 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 30px;
      font-weight: 600;
    }
    
    .service {
      display: inline-block;
      margin: 20px;
      text-align: center;
    }
    
    .service i {
      font-size: 3rem;
      color: #df1a1a;
      margin-bottom: 10px;
    }
    
    .service p {
      font-size: 1.2rem;
      color: #444;
    }

    /* Estilos para tarifas */

    .tarifas{
      padding: 30px;
    }

    .seccion-tarifas{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
    }

    .title-tarifa{
      margin: 50px auto;
      font-weight: 600;
    }

    .toalla h4{
       font-size: 1.2rem;
       padding: 5px;  
    }

    .toalla span{
      font-size: 1rem;
      font-weight: 500;
      color: #df1a1a;
    }
    

    /* Google maps */

    .direccion {
      width: 100%;
      margin-top: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      text-align: center; }
    
    .direccion h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: black;        
      }
    .direccion .linea {
        border-top: 5px solid red;
        margin-bottom: 40px;
      }
    .direccion .capturaMaps img {
        width: 1000px;
        height: 800px; 
      }
    .direccion .boton{
        font-size: 1.3rem;
        padding: 15px 20px;
        background-color: red;
        margin-top: 60px;
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        width: 30%;
        position: relative; 
      }
    .direccion a:hover {
        background-color: #e24747;
        border: 2px white solid;
        padding: 13px 18px;
        color: white;
        list-style: none; 
      }
   

    /*  Footer  */

    .pie-pagina{
        width: 100%;
        background-color: black;
       
       }

       .grupo1{
        width: 100%;
        max-width: 1600px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 190px;
        padding: 45px 0px;
       }

       .box figure{
        width: 100%;
        height: 100%;
       }

       .box figure img{
        width: 250px;
       }

       .box h2{
        color: white;
        margin-bottom: 25px;
        font-size: 20px;
       }

       .box p{
        color: white;
        margin-bottom: 10px;
       }

       .redes a{
        display: inline-block;
        text-decoration: none;
        width: 55px;
        height: 55px;
        line-height: 45px;
        color: white;
        margin-right: 10px;
        text-align: center;
        transition: all 300ms ease;
       }
       .redes a:hover{
        color: red;
        
       }

       .grupo2{
        padding: 15px 10px;
        text-align: center;
        color: white;
       }
       .grupo2 small{
        font-size: 15px;
       }


/* ! VIEW MOBILE */


@media (max-width:950px) {
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
       }
      
       .menu ul {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background: rgba(0, 0, 0, 0.801);
          display: flex;
          justify-content: space-around;
          padding: 10px 0;
          margin: 0;
          z-index: 1;
          height: 90px;
          transition: opacity 0.5s ease-in-out;
      }
  
      .menu li {
          margin: 0;
          flex: 1;
          text-align: center;
      }
  
      .menu li a {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 0;
          font-size: 0.9rem;
      }

      .logo{
           display: flex;
           flex-direction: column;
           align-items: center;
      }

      .logo img{
        
        width: 150px;
        height: 80px;
      }
      .logo .tituloLogo{
        
        font-size: 20px;
      }

      /* Tarifas seccion */

      .seccion-tarifas{
        display: flex;
        flex-direction: column;
      }


      .direccion .capturaMaps img {
        width: 500px;
        height: 500px; 
      }
    
      .direccion .boton{
        width: 50%;
      }
      
 

      /* Footer */

      .pie-pagina{
        width: 100%;
        background-color: black;
        padding-left: 40px;

      }

      .grupo1{
        width: 100%;
        padding: 45px 0px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
      }

      .box figure{
        width: 100%;
        height: 100%;
      }

      .box figure img{
        width: 170px;
      }

      .box h2{
        color: white;
        margin-bottom: 25px;
        font-size: 20px;
        
      }

      .box p{
        margin-bottom: 10px;
        color: white;
      }

      /* Servicios basicos */

      .service{
        display: flex;
        flex-direction: column;
      }

      .info-header p{
         font-size: 1rem;
      }

      .info-header h1{
        font-size: 2.4rem;
     }
    
}

@media (max-width: 768px) {
  .room {
    flex-direction: column;
  }

  .room img {
    margin-bottom: 15px;
  }

  .room-info {
    text-align: center;
    margin-left: 0;
  }

  .service i {
    font-size: 2.5rem;
  }

  .service p {
    font-size: 1rem;
  }

  .direccion .capturaMaps img {
    width: 300px;
    height: 300px; 
  }

  .direccion .boton{
    width: 80%;
  }
}